{% include '_header.twig' %}

<div class="row">
    <div class="col-xs-12 col-md-8" id="left-side">
        {{content}}
    </div>
    <div class="col-xs-12 col-md-4" id="right-side">
        <img src="http://via.placeholder.com/450x600" style="margin:0 auto; display:block;">
    </div>
</div>

{% include '_footer.twig' %}
